<footer>
    <div class="footer">
        <div class="media-sociaux">
            <ul>
                <li><a href="#"><img src="images/facebook.png" alt="Facebook icon"></a></li>
                <li><a href="#"><img src="images/twitter.png" alt="Twitter icon"></a></li>
                <li><a href="#"><img src="images/instagram.png" alt="Instagram icon"></a></li>
            </ul>
        </div>

        <div class="menu">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Nos restos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <img src="images/copyright.png" alt="Copyrigth">
        <p>2020</p>
    </div>
</footer>