//
//// All Form Elements
//label,
//button,
//input,
//optgroup,
//select,
//textarea {
//  color: $base-input-color;
//  font: inherit;
//  margin: 0;
//  border-radius: 0;
//  transition: .3s all;
//}
//
//// Inputs
[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="date"],
[type="search"] {

  &:focus {
    outline: 0;
  }
}

// Textarea
textarea {

  overflow: auto;
  &:focus {
    background-color: $base-input-background-focus-color;
    outline: 0;
  }
}

// Select
select {
  text-transform: none;

  padding: 0 8px;
  &:focus {
    outline: 0;
  }
}
//
//// Buttons
//button {
//  border-radius: 0;
//  overflow: visible;
//  text-transform: none;
//  cursor: pointer;
//}
//
//.disabled,
//[disabled] {
//  opacity: .4;
//  user-select: none;
//  pointer-events: none;
//  cursor: not-allowed;
//}
//
//// Placeholders
//::placeholder { color: $base-input-placeholder-color; }