footer{
  background-color: $black-grey;

  margin-top: -120px;

  div.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid 2px $red;
    margin: 0 120px;

  }


  ul{
    list-style: none;

    display: flex;
  }

  div.media-sociaux{


    ul{
      padding-top: 50px;

      a img{
        padding-right: 15px;
      }
    }

  }

  div.menu{

   ul{

     li{
       padding: 20px;

       a{
         color: $white-grey;
       }
     }
   }
  }

  div.copyright{

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    img{
      width: 20px;
      height: 20px;

      margin-right: 15px;
    }
  }
}