
header{

  background-color: $black-grey;
  opacity: 0.9;

  width: 100vw;


  nav{

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    img{
      width: 202px;
      height: 87px;
    }

    // Animation des liens du menu
    .snip1217 {
      text-align: center;
      letter-spacing: 1px;

      margin: 0;
      padding-right: 20px;

      display: flex;
      align-items: center;
    }
    .snip1217 * {
      box-sizing: border-box;
      transition: all 0.35s ease;
    }
    .snip1217 li {
      display: inline-block;

      list-style: outside none none;

      margin: 0.5em 1.5em;
      padding: 0 20px;
    }
    .snip1217 a {
      padding: 0.3em 0;

      color: $white-grey;
      text-decoration: none;

      position: relative;

      display: inline-block;
    }
    .snip1217 a:before,
    .snip1217 a:after {
      height: 3px;

      position: absolute;

      content: '';

      transition: all 0.35s ease;

      background-color: $white-grey;

      width: 0;
    }
    .snip1217 a:before {
      top: 0;
      left: 0;
    }
    .snip1217 a:after {
      bottom: 0;
      right: 0;
    }
    .snip1217 a:hover,
    .snip1217 .current a {
      color: #ffffff;
    }
    .snip1217 a:hover:before,
    .snip1217 .current a:before,
    .snip1217 a:hover:after,
    .snip1217 .current a:after {
      width: 100%;
    }

    .commander{
      background-color: $red;
      color: $white-grey;

      padding: 10px 20px;
    }

    .commander:hover{
      background-color: $white-grey;
      color: $red;
      transition: 0.3s ease-in;
    }

    .langue{
      color: $white-grey;

      border: solid 1px $white-grey;
      padding: 2px 5px;

      position: absolute;
      right: 50px;

      font-size: $fz-small;
    }


  }

}