section.histoire{

  display: flex;
  justify-content: space-evenly;

  margin: 200px 0 240px 0;

  div.texte-resto{

    width: 25%;

    h2,p {
      color: $black-grey;

    }
  }

  img{
    width: 40%;
    height: 40%;
  }


}