//---Menu Extras et Boissons---//

section.menu-supplementaire {
  display: flex;
  width: 70%;
  margin: 60px 15% 250px;
  justify-content: space-between;
  padding: 1.3%;


  h3.titre-section {
    border-top: 3px solid var(--color-Noir);
    border-bottom: 3px solid var(--color-Noir);
    width: 31.6%;
  }

  h3.boissons {
    width: 40%;
  }

  article.extras, article.boissons {
    width: 50%;
    color: var(--color-Noir);

    div.contour, div.contour-boissons {
      border: #0d3d8c 10px solid;
      width: 90%;
      height: 76.908%;
      position: relative;
      top: 2%;

    }

    div.menu-extras, div.menu-boissons {
      width: 90%;
      position: relative;
      background: #EFF0F4;
      border: 1px solid #adadb0;
      top: -69.5%;
      left: 7%;
      padding: 4%;

      h3 {
        font-size: rem(30);
        font-family: $ff-normal;
        font-weight: 400;
      }

      .item {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
      }

      .nom {
        padding: 0;
        margin: 0;
      }

      .dot {
        margin: 45px 10px;
        border-bottom: 4px dotted black;
        height: 10px;
        flex-grow: 1;
      }

      .prix {
        width: 23%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .prix-boissons {
        width: 10%;
      }

      .prix > p {
        margin: 0;
      }

      p.prix-unique-2-line {
        margin-bottom: 30px;
      }

      p.prix-unique-1-line {
        margin-top: 7px

      }

    }

  }
}