.information{

  margin-top: 883px;

  display: flex;

  div.premier-bloc{

    p{
      border-left: 3px solid $bleu;
      padding-left: 40px;

      margin: 8% 0 0 12%;

      width: 70%;

    }

  }

  div.deuxieme-bloc{

    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 90%;
      height: 675px;
    }

    p{

      width: 470px;
      line-height: 200% ;

      text-align: center;

      border-bottom: 3px solid $bleu;
      padding-bottom: 50px;

      margin:0 100px;
    }
  }



  p{
    font-size: $fz-h5;
    font-weight: 300;

    color: $black-grey;
  }

}