section.pub{

  position: relative;

 top:50px;

  h2, p{
    color:$black-grey;
    font-family: $ff-normal;

    text-align: center;
    line-height: 10px;
  }

  img{
    width: 384px;

    position: relative;
    top:-120px;
   left: 1550px;
  }

  p.date_expiration{
    color: $white-grey;

    font-size: $fz-small;

    position: relative;
    top:-170px;
    left: 850px;
  }

}