section.infolettre{

  div.border{
    width:100%;
    height:300px;

    background:$black-grey;
    float:left;

    outline: 3px solid $red;
    outline-offset: -25px;
  }


  h1{
   text-align: center;

    font-size: $fz-h4;

    width: 40%;

    margin: 0 30%;
    padding: 50px 0;

  }

  form{
    display: flex;
    justify-content: center;

    input{
      width: 450px;
      height: 50px ;

      padding: 10px;

      ::placeholder{
        color: rgba(29, 29,29, 0.3);
      }
    }

    .bouton{
      padding: 5px 10px;

      background-color: $black-grey;
      color: $red;

      border: 3px solid $red ;

      font-size: $fz-h4;

      margin-left: 20px;
    }
  }
}